// Virtual Select dropdown z-index fix
.vscomp-dropbox-container {
  z-index: 99999 !important;
}

// Sidebar spacing overrides
.sidebar-menu > .menu-item {
  margin-bottom: 0px !important;
}

.form-group {
  margin-bottom: 0px !important;
}

// Header nav links
.navbar-nav > .dropdown > a,
.navbar-nav > li > a.header-link {
  color: white;
  padding: 10px;
}

// Sidebar IMDb attribution
.imdb-attribution {
  padding: 15px;
  text-align: left;
  font-size: 0.8em;
  color: #fff;
}
